<%= render "shared/header" %>

<main class="container">
  <div class="row py-3">
    <div class="col-sm-8">
      <div class="mb-4">
        <%= link_to image_tag("topmain2.png", class:"img-fluid"), new_question_path %>
      </div>
      <div class="col-auto p-4 bg-white">
        <h2 class="pb-4 mb-2 font-italic border-bottom">
          新着の質問一覧
        </h2>
        <% @questions.each do |question| %>
          <%= link_to question_path(question.id) do %>
            <div class='py-4'>
              <%= question.category.name %>
            </div>
          <% end %>
            <%= question.text %>
            <div class="py-2">
              <%= question.url %><br>
              <%= question.time %><br>
            </div>
              この質問に共感したユーザー：<%= question.liked_users.count %>人
              <hr>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="p-4 mb-4 bg-white rounded">
        <h4 class="font-italic mb-4">このサービスについて</h4>
        <p class="mb-0">エフー知恵袋は質問いただいた英語をレースの状況をもとに推測し、適切な日本語訳の案を提供するサービスです。<br>Google翻訳でも聞き取れないようなエンジンノイズが入った音声、ドライバーの荒い呼吸で分かりづらい音声など、疑問に思った英語を質問して一緒に解決してみましょう。</p>
      </div>
      <div class="p-4 mb-4 bg-white rounded">
        <h4 class="font-italic mb-4">注意点</h4>
        <p class="mb-0">ここで作成された日本語訳は管理者の推測に基づいて作成されたものであり、実際のドライバーの意向を表したものではありません。</p>
      </div>
      <div class="p-4 mb-4 bg-white rounded">
        <h4 class="font-italic mb-4">SNS</h4>
        <ol class="list-unstyled">
          <li><a href="https://twitter.com/ikejiri_yon" target="_blank" rel="noopener noreferrer">Twitter</a></li>
          <li><a href="https://qiita.com/ikejiri-ohashi" target="_blank" rel="noopener noreferrer">Qiita</a></li>
        </ol>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>