<%= render "shared/header" %>

<main class="container">
  <div class="row py-3">
    <div class="col-sm-8">
      <div class="mb-4">
        <%= link_to image_tag("topmain2.png", class:"img-fluid"), "/" %>
      </div>
      <div class="col-auto">
        <h2 class="pb-4 mb-4 font-italic border-bottom">
          新着の質問一覧
        </h2>
        <% @questions.each do |question| %>
          <%= link_to question_path(question.id) do %>
            <%= question.category.name %>
          <% end %>
              <br><%= question.text %><br>
              <%= question.url %>
              <%= question.time %>
              <hr>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="p-4 mb-4 bg-white rounded">
        <h4 class="font-italic">このサービスについて</h4>
        <p class="mb-0">エフー知恵袋は質問いただいた英語をレースの状況をもとに推測し、適切な日本語訳の案を提供するサービスです。<br>Google翻訳でも聞き取れないようなエンジンノイズが入った英語、ドライバーの荒い呼吸で分かりづらい英語などF1で疑問に思った英語を質問して一緒に解決してみましょう。</p>
      </div>
      <div class="p-4 mb-4 bg-white rounded">
        <h4 class="font-italic">注意点</h4>
        <p class="mb-0">ここで作成された和訳は管理者の推測に基づいたものであり、実際のドライバーの意向を表したものではありません。</p>
      </div>
      <div class="p-4">
        <h4 class="font-italic">SNS</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Qiita</a></li>
        </ol>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>