<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <h2><a class="blog-header-logo text-dark" href="/">エフー!知恵袋</a></h2>
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-2">
    <div class="nav d-flex justify-content-end">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-sm btn-outline-primary" %>
      <% else %>
        <%= link_to "新規ユーザー登録", new_user_registration_path, class:"btn btn-sm btn-outline-primary"%>
        <%= link_to "ログイン", new_user_session_path, class:"btn btn-sm btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-5 fw-italic">気になるF1英語は<br>ありませんか？</h1>
      <p class="lead my-3">レースの状況を見て適切な翻訳を提供します。</p>
      <p class="lead mb-0"><%= link_to "質問してみる", new_question_path, class:"text-white fw-bold" %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2 class="pb-4 mb-4 font-italic border-bottom">
        新着の質問一覧
      </h2>
      <% @questions.each do |question| %>
        <article class="blog-post">
          <%= link_to question_path(question.id) do %>
            <h3 class="blog-post-title">
              <%= question.category.name %>
            </h3>
            <p class="blog-post-meta"><%= question.user.nickname %></p>
            <h4><%= question.text %></h4>
            <blockquote>
              <h5><%= question.url %></h5>
            </blockquote>
            <blockquote>
              <h4><%= question.time %></h4>
            </blockquote>
            <hr>
          <% end %>
        </article>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">このサービスについて</h4>
        <p class="mb-0">このサービスはF1をもっと身近に感じてほしいという思いから作成しました。ここで作成された和訳はあくまでも管理者の推測に基づいており、ドライバー本人の意向を表したものではありません。</p>
      </div>
      <div class="p-4">
        <h4 class="font-italic">SNS</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Qiita</a></li>
        </ol>
      </div>
    </div>
  </div>
</main>
<footer class="blog-footer">
  <p>このブログテンプレートは<a href="https://getbootstrap.com/">Bootstrap</a>のために<a href="https://twitter.com/mdo">@mdo</a>によって作成されました。</p>
  <p>
    <a href="/">トップに戻る</a>
  </p>
</footer>