<header class="header">
  <div class="header__bar">
    <h1 class="grid-6"><a href="/">F知恵袋</a></h1>
    <% if user_signed_in? %>
      <div class="user_nav">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "投稿する", new_question_path, class: "post"%>
      </div>
    <% else %>
      <div class="grid-6">
        <%= link_to "ログイン", new_user_session_path, class: "post" %>
        <%= link_to "新規登録", new_user_registration_path, class: "post" %>
      </div>
    <% end %>
  </div>
</header>


  <% @questions.each do |question| %>
    <div class="question">
      <%= link_to question_path(question.id) do %>
        <div class="question-category">
          <%= question.category.name %>
        </div>
        <div class="question-text">
          <%= question.text %>
        </div>
        <div class="question-url">
          <%= question.url %>
        </div>
        <div class="question-time">
          <%= question.time %>
        </div>
      <% end %>
    </div>
  <% end %>
