<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark" href="/">エフー知恵袋</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <%# <a class="link-secondary" href="#" aria-label="Search"> %>
        <%# <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg> %>
      <%# </a> %>
      <% if user_signed_in? %>
        <%= link_to "質問を投稿する", new_question_path, class:"btn btn-sm btn-outline-secondary" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-sm btn-outline-secondary" %>
      <% else %>
        <%= link_to "新規ユーザー登録", new_user_registration_path, class:"btn btn-sm btn-outline-secondary"%>
        <%= link_to "ログイン", new_user_session_path, class:"btn btn-sm btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</header>


  <% @questions.each do |question| %>
    <div class="question">
      <%= link_to question_path(question.id) do %>
        <div class="question-category">
          <%= question.category.name %>
        </div>
        <div class="question-text">
          <%= question.text %>
        </div>
        <div class="question-url">
          <%= question.url %>
        </div>
        <div class="question-time">
          <%= question.time %>
        </div>
      <% end %>
    </div>
  <% end %>
