<%= render "shared/header" %>

<main class="container">
  <div class="row gy-8">
    <div class="col-sm-8">
      <div class="p-3 my-3 rounded h-auto bg-white">
        <strong><%= @question.category.name %></strong>
        <div class="my-3">
          <%= @question.text %>
        </div>
        
        <%= @question.url %>
        <br>動画内の場所：<%= @question.time %>
        <div class="pt-4 pb-2 d-flex">
          <dt><%= @question.likes.count %>人</dt>が共感しています
        </div>
        <% if user_signed_in? %>
          <% if current_user.already_liked?(@question) %>
            <%= button_to '共感したを取り消す', question_like_path(@question), class:"btn btn-primary btn-sm", method: :delete %>
          <% else %>
            <%= button_to '共感した！', question_likes_path(@question), class:"btn btn-outline-primary btn-sm" %>
          <% end %>
        <% else %>
          <%= button_to '共感した！', new_user_session_path, class:"btn btn-outline-primary btn-sm" %>
        <% end %>
        <hr>
        <% if @answer.blank? %>
          <strong>ご質問ありがとうございます！<br>回答が作成されるまでしばらくお待ちください。</strong>
        <% else %>
          <strong>ベストアンサー</strong><br>
          <div class="pt-4">
            <% @answer.each do |answer| %>
              <%= answer.text %>
              <div class="pt-4 pb-2 d-flex">
                <dt><%= answer.favorites.count %>人</dt>が役に立ったと言っています
              </div>
              <% if user_signed_in? %>
                <% if current_user.already_favorited?(answer) %>
                  <%= button_to '役に立ったを取り消す', question_answer_favorite_path(answer, answer.id), class:"btn btn-primary btn-sm", method: :delete %>
                <% else %>
                  <%= button_to '役に立った！', question_answer_favorites_path(answer, answer.id), class:"btn btn-outline-primary btn-sm" %>
                <% end %>
              <% else %>
                <%= button_to '役に立った！', new_user_session_path, class:"btn btn-outline-primary btn-sm" %>
              <% end %>
              <hr>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <%= link_to "トップページに戻る", root_path, class:"mb-4 btn btn-outline-primary" %>
      </div>
      <div class="p-3 my-3 rounded h-auto bg-white">
        <strong>コメント</strong><br>
        <%= form_with model: @comment, url: question_comments_path(@question), id: "form", local: true do |f| %>
          <div class='pt-4'>
            <%= f.text_area :text, class:'form-control', placeholder: "コメントを入力" %>
          </div>
          <div class='pt-3'>
            <%= f.submit "回答する",  id: "submit", class:"btn btn-primary" %>
          </div>
        <% end %>
        <hr>
        <% @comment.each do |comment|%>
          <div class='pt-4'>
            <%= comment.text %>
            <hr>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="p-4 my-3 bg-white rounded">
        <h4 class="font-italic mb-4">注意点</h4>
        <p class="mb-0">ここで作成された日本語訳は管理者の推測に基づいて作成されたものであり、実際のドライバーの意向を表したものではありません。</p>
      </div>

      <div class="p-4 mb-4 bg-white rounded">
        <h4 class="font-italic mb-4">SNS</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Qiita</a></li>
        </ol>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>