<div class="content"> 
  <%= @question.url %>
  <%= @question.time %>
  <%= @question.text %>
</div>

<div class="answer-btn">
  <%= link_to "回答する", new_question_answer_path(@question) %>
</div>
<div class="answer">
  <h4>回答一覧</h4>
  <% @answer.each do |answer| %>
    <%= answer.text %>
  <% end %>
</div>

<div class="back-btn">
  <%= link_to "トップページに戻る", root_path %>
</div>