<%= render "shared/header" %>

<div class="container">
  <h2>質問詳細</h2>
  <article class="blog-post">
    <h3 class="blog-post-title">
      <%= @question.category.name %>
    </h3>
    <p class="blog-post-meta"><%= @question.user.nickname %></p>
    <h4><%= @question.text %></h4>
    <blockquote>
      <h5><%= @question.url %></h5>
    </blockquote>
    <blockquote>
      <h4><%= @question.time %></h4>
    </blockquote>
    <hr>
  </article>

  <h2>回答一覧</h2>
  <div class="blog-post">
    <% @answer.each do |answer| %>
      <div class="answer-text">
        <%= answer.text %>
      </div>
    <% end %>
  </div>

  <%= link_to "トップページに戻る", root_path, class:"btn btn-primary" %>
</div>

<%= render "shared/footer" %>